{
  "swagger" : "2.0",
  "info" : {
    "title" : "Marvel Public API v1",
    "version" : ""
  },
  "host" : "gateway.marvel.com",
  "basePath" : "/v1/public",
  "schemes" : [
    "http"
  ],
  "paths" : {
    "/characters" : {
      "get" : {
        "summary" : "List characters",
        "description" : "Fetches lists of characters.",
        "operationId" : "list-characters",
        "parameters" : [
          {
            "name" : "name",
            "in" : "query",
            "description" : "Return only characters matching the specified full character name (e.g. Spider-Man).",
            "type" : "string"
          },
          {
            "name" : "nameStartsWith",
            "in" : "query",
            "description" : "Return characters with names that begin with the specified string (e.g. Sp).",
            "type" : "string"
          },
          {
            "name" : "modifiedSince",
            "in" : "query",
            "description" : "Return only characters which have been modified since the specified date.",
            "type" : "string"
          },
          {
            "name" : "comics",
            "in" : "query",
            "description" : "Return only characters which appear in the specified comics (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "series",
            "in" : "query",
            "description" : "Return only characters which appear the specified series (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "events",
            "in" : "query",
            "description" : "Return only characters which appear in the specified events (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "stories",
            "in" : "query",
            "description" : "Return only characters which appear the specified stories (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "orderBy",
            "in" : "query",
            "description" : "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "type" : "string"
          },
          {
            "name" : "limit",
            "in" : "query",
            "description" : "Limit the result set to the specified number of resources.",
            "type" : "number"
          },
          {
            "name" : "offset",
            "in" : "query",
            "description" : "Skip the specified number of resources in the result set.",
            "type" : "number"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "type" : "object",
              "properties" : {
                "code" : {
                  "type" : "number",
                  "description" : "The HTTP status code of the returned result",
                  "example" : 200.0
                },
                "status" : {
                  "type" : "string",
                  "description" : "A string description of the call status",
                  "example" : "Ok"
                },
                "etag" : {
                  "type" : "string",
                  "description" : "A digest value of the content",
                  "example" : "f0fbae65eb2f8f28bdeea0a29be8749a4e67acb3"
                },
                "data" : {
                  "type" : "object",
                  "description" : "The results returned by the call",
                  "properties" : {
                    "offset" : {
                      "type" : "number",
                      "description" : "The requested offset (skipped results) of the call",
                      "example" : 0.0
                    },
                    "limit" : {
                      "type" : "number",
                      "description" : "The requested result limit",
                      "example" : 20.0
                    },
                    "total" : {
                      "type" : "number",
                      "description" : "The total number of results available",
                      "example" : 30920.0
                    },
                    "count" : {
                      "type" : "number",
                      "description" : "The total number of results returned by this call",
                      "example" : 20.0
                    },
                    "results" : {
                      "type" : "object",
                      "format" : "data_container",
                      "description" : "The list of entities returned by the call"
                    }
                  }
                },
                "copyright" : {
                  "type" : "string",
                  "description" : "The copyright notice for the returned result"
                },
                "attributionText" : {
                  "type" : "string",
                  "description" : "The attribution notice for this result"
                },
                "attributionHTML" : {
                  "type" : "string",
                  "description" : "An HTML representation of the attribution notice for this result"
                }
              }
            }
          }
        }
      }
    },
    "/characters/{characterId}" : {
      "get" : {
        "summary" : "Character by Id",
        "description" : "Fetches a single character by id.",
        "operationId" : "character-by-id",
        "parameters" : [
          {
            "name" : "characterId",
            "in" : "path",
            "description" : "A single character id.",
            "required" : true,
            "type" : "string"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CharacterDataWrapper"
            }
          }
        }
      }
    },
    "/characters/{characterId}/comics" : {
      "get" : {
        "summary" : "Character comics",
        "description" : "Fetches lists of comics filtered by a character id.",
        "operationId" : "character-comics",
        "parameters" : [
          {
            "name" : "characterId",
            "in" : "path",
            "description" : "The character id.",
            "required" : true,
            "type" : "string"
          },
          {
            "name" : "format",
            "in" : "query",
            "description" : "Filter by the issue format (e.g. comic, digital comic, hardcover).",
            "type" : "string"
          },
          {
            "name" : "formatType",
            "in" : "query",
            "description" : "Filter by the issue format type (comic or collection).",
            "type" : "string"
          },
          {
            "name" : "noVariants",
            "in" : "query",
            "description" : "Exclude variant comics from the result set.",
            "type" : "boolean"
          },
          {
            "name" : "dateDescriptor",
            "in" : "query",
            "description" : "Return comics within a predefined date range.",
            "type" : "string"
          },
          {
            "name" : "dateRange",
            "in" : "query",
            "description" : "Return comics within a predefined date range.  Dates must be specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably formatted as YYYY-MM-DD but may be sent as any common date format.",
            "type" : "number"
          },
          {
            "name" : "diamondCode",
            "in" : "query",
            "description" : "Filter by diamond code.",
            "type" : "string"
          },
          {
            "name" : "digitalId",
            "in" : "query",
            "description" : "Filter by digital comic id.",
            "type" : "number"
          },
          {
            "name" : "upc",
            "in" : "query",
            "description" : "Filter by UPC.",
            "type" : "string"
          },
          {
            "name" : "isbn",
            "in" : "query",
            "description" : "Filter by ISBN.",
            "type" : "string"
          },
          {
            "name" : "ean",
            "in" : "query",
            "description" : "Filter by EAN.",
            "type" : "string"
          },
          {
            "name" : "issn",
            "in" : "query",
            "description" : "Filter by ISSN.",
            "type" : "string"
          },
          {
            "name" : "hasDigitalIssue",
            "in" : "query",
            "description" : "Include only results which are available digitally.",
            "type" : "boolean"
          },
          {
            "name" : "modifiedSince",
            "in" : "query",
            "description" : "Return only comics which have been modified since the specified date.",
            "type" : "string"
          },
          {
            "name" : "creators",
            "in" : "query",
            "description" : "Return only comics which feature work by the specified creators (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "series",
            "in" : "query",
            "description" : "Return only comics which are part of the specified series (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "events",
            "in" : "query",
            "description" : "Return only comics which take place in the specified events (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "stories",
            "in" : "query",
            "description" : "Return only comics which contain the specified stories (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "sharedAppearances",
            "in" : "query",
            "description" : "Return only comics in which the specified characters appear together (for example in which BOTH Spider-Man and Wolverine appear).",
            "type" : "number"
          },
          {
            "name" : "collaborators",
            "in" : "query",
            "description" : "Return only comics in which the specified creators worked together (for example in which BOTH Stan Lee and Jack Kirby did work).",
            "type" : "number"
          },
          {
            "name" : "orderBy",
            "in" : "query",
            "description" : "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "type" : "string"
          },
          {
            "name" : "limit",
            "in" : "query",
            "description" : "Limit the result set to the specified number of resources.",
            "type" : "number"
          },
          {
            "name" : "offset",
            "in" : "query",
            "description" : "Skip the specified number of resources in the result set.",
            "type" : "number"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ComicDataWrapper"
            }
          }
        }
      }
    },
    "/characters/{characterId}/events" : {
      "get" : {
        "summary" : "Character events",
        "description" : "Fetches lists of events filtered by a character id.",
        "operationId" : "character-events",
        "parameters" : [
          {
            "name" : "characterId",
            "in" : "path",
            "description" : "The character ID.",
            "required" : true,
            "type" : "string"
          },
          {
            "name" : "name",
            "in" : "query",
            "description" : "Filter the event list by name.",
            "type" : "string"
          },
          {
            "name" : "nameStartsWith",
            "in" : "query",
            "description" : "Return events with names that begin with the specified string (e.g. Sp).",
            "type" : "string"
          },
          {
            "name" : "modifiedSince",
            "in" : "query",
            "description" : "Return only events which have been modified since the specified date.",
            "type" : "string"
          },
          {
            "name" : "creators",
            "in" : "query",
            "description" : "Return only events which feature work by the specified creators (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "series",
            "in" : "query",
            "description" : "Return only events which are part of the specified series (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "comics",
            "in" : "query",
            "description" : "Return only events which take place in the specified comics (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "stories",
            "in" : "query",
            "description" : "Return only events which contain the specified stories (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "orderBy",
            "in" : "query",
            "description" : "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "type" : "string"
          },
          {
            "name" : "limit",
            "in" : "query",
            "description" : "Limit the result set to the specified number of resources.",
            "type" : "number"
          },
          {
            "name" : "offset",
            "in" : "query",
            "description" : "Skip the specified number of resources in the result set.",
            "type" : "number"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/EventDataWrapper"
            }
          }
        }
      }
    },
    "/characters/{characterId}/series" : {
      "get" : {
        "summary" : "Character series",
        "description" : "Fetches lists of series filtered by a character id.",
        "operationId" : "character-series",
        "parameters" : [
          {
            "name" : "characterId",
            "in" : "path",
            "description" : "The character ID",
            "required" : true,
            "type" : "string"
          },
          {
            "name" : "title",
            "in" : "query",
            "description" : "Filter by series title.",
            "type" : "string"
          },
          {
            "name" : "titleStartsWith",
            "in" : "query",
            "description" : "Return series with titles that begin with the specified string (e.g. Sp).",
            "type" : "string"
          },
          {
            "name" : "startYear",
            "in" : "query",
            "description" : "Return only series matching the specified start year.",
            "type" : "number"
          },
          {
            "name" : "modifiedSince",
            "in" : "query",
            "description" : "Return only series which have been modified since the specified date.",
            "type" : "string"
          },
          {
            "name" : "comics",
            "in" : "query",
            "description" : "Return only series which contain the specified comics (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "stories",
            "in" : "query",
            "description" : "Return only series which contain the specified stories (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "events",
            "in" : "query",
            "description" : "Return only series which have comics that take place during the specified events (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "creators",
            "in" : "query",
            "description" : "Return only series which feature work by the specified creators (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "seriesType",
            "in" : "query",
            "description" : "Filter the series by publication frequency type.",
            "type" : "string"
          },
          {
            "name" : "contains",
            "in" : "query",
            "description" : "Return only series containing one or more comics with the specified format.",
            "type" : "string"
          },
          {
            "name" : "orderBy",
            "in" : "query",
            "description" : "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "type" : "string"
          },
          {
            "name" : "limit",
            "in" : "query",
            "description" : "Limit the result set to the specified number of resources.",
            "type" : "number"
          },
          {
            "name" : "offset",
            "in" : "query",
            "description" : "Skip the specified number of resources in the result set.",
            "type" : "number"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/SeriesDataWrapper"
            }
          }
        }
      }
    },
    "/characters/{characterId}/stories" : {
      "get" : {
        "summary" : "Character stories",
        "description" : "Fetches lists of stories filtered by a character id.",
        "operationId" : "character-stories",
        "parameters" : [
          {
            "name" : "characterId",
            "in" : "path",
            "description" : "The character ID.",
            "required" : true,
            "type" : "string"
          },
          {
            "name" : "modifiedSince",
            "in" : "query",
            "description" : "Return only stories which have been modified since the specified date.",
            "type" : "string"
          },
          {
            "name" : "comics",
            "in" : "query",
            "description" : "Return only stories contained in the specified (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "series",
            "in" : "query",
            "description" : "Return only stories contained the specified series (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "events",
            "in" : "query",
            "description" : "Return only stories which take place during the specified events (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "creators",
            "in" : "query",
            "description" : "Return only stories which feature work by the specified creators (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "orderBy",
            "in" : "query",
            "description" : "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "type" : "string"
          },
          {
            "name" : "limit",
            "in" : "query",
            "description" : "Limit the result set to the specified number of resources.",
            "type" : "number"
          },
          {
            "name" : "offset",
            "in" : "query",
            "description" : "Skip the specified number of resources in the result set.",
            "type" : "number"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/StoryDataWrapper"
            }
          }
        }
      }
    },
    "/comics" : {
      "get" : {
        "summary" : "List comics",
        "description" : "Fetches lists of comics.",
        "operationId" : "list-comics",
        "parameters" : [
          {
            "name" : "format",
            "in" : "query",
            "description" : "Filter by the issue format (e.g. comic, digital comic, hardcover).",
            "type" : "string"
          },
          {
            "name" : "formatType",
            "in" : "query",
            "description" : "Filter by the issue format type (comic or collection).",
            "type" : "string"
          },
          {
            "name" : "noVariants",
            "in" : "query",
            "description" : "Exclude variants (alternate covers, secondary printings, director's cuts, etc.) from the result set.",
            "type" : "boolean"
          },
          {
            "name" : "dateDescriptor",
            "in" : "query",
            "description" : "Return comics within a predefined date range.",
            "type" : "string"
          },
          {
            "name" : "dateRange",
            "in" : "query",
            "description" : "Return comics within a predefined date range.  Dates must be specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably formatted as YYYY-MM-DD but may be sent as any common date format.",
            "type" : "number"
          },
          {
            "name" : "diamondCode",
            "in" : "query",
            "description" : "Filter by diamond code.",
            "type" : "string"
          },
          {
            "name" : "digitalId",
            "in" : "query",
            "description" : "Filter by digital comic id.",
            "type" : "number"
          },
          {
            "name" : "upc",
            "in" : "query",
            "description" : "Filter by UPC.",
            "type" : "string"
          },
          {
            "name" : "isbn",
            "in" : "query",
            "description" : "Filter by ISBN.",
            "type" : "string"
          },
          {
            "name" : "ean",
            "in" : "query",
            "description" : "Filter by EAN.",
            "type" : "string"
          },
          {
            "name" : "issn",
            "in" : "query",
            "description" : "Filter by ISSN.",
            "type" : "string"
          },
          {
            "name" : "hasDigitalIssue",
            "in" : "query",
            "description" : "Include only results which are available digitally.",
            "type" : "boolean"
          },
          {
            "name" : "modifiedSince",
            "in" : "query",
            "description" : "Return only comics which have been modified since the specified date.",
            "type" : "string"
          },
          {
            "name" : "creators",
            "in" : "query",
            "description" : "Return only comics which feature work by the specified creators (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "characters",
            "in" : "query",
            "description" : "Return only comics which feature the specified characters (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "series",
            "in" : "query",
            "description" : "Return only comics which are part of the specified series (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "events",
            "in" : "query",
            "description" : "Return only comics which take place in the specified events (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "stories",
            "in" : "query",
            "description" : "Return only comics which contain the specified stories (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "sharedAppearances",
            "in" : "query",
            "description" : "Return only comics in which the specified characters appear together (for example in which BOTH Spider-Man and Wolverine appear). Accepts a comma-separated list of ids.",
            "type" : "number"
          },
          {
            "name" : "collaborators",
            "in" : "query",
            "description" : "Return only comics in which the specified creators worked together (for example in which BOTH Stan Lee and Jack Kirby did work). Accepts a comma-separated list of ids.",
            "type" : "number"
          },
          {
            "name" : "orderBy",
            "in" : "query",
            "description" : "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "type" : "string"
          },
          {
            "name" : "limit",
            "in" : "query",
            "description" : "Limit the result set to the specified number of resources.",
            "type" : "number"
          },
          {
            "name" : "offset",
            "in" : "query",
            "description" : "Skip the specified number of resources in the result set.",
            "type" : "number"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ComicDataWrapper"
            }
          }
        }
      }
    },
    "/comics/{comicId}" : {
      "get" : {
        "summary" : "Comic by Id",
        "description" : "Fetches a single comic by id.",
        "operationId" : "comic-by-id",
        "parameters" : [
          {
            "name" : "comicId",
            "in" : "path",
            "description" : "A single comic.",
            "required" : true,
            "type" : "string"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ComicDataWrapper"
            }
          }
        }
      }
    },
    "/comics/{comicId}/characters" : {
      "get" : {
        "summary" : "Comic characters",
        "description" : "Fetches lists of characters filtered by a comic id.",
        "operationId" : "comic-characters",
        "parameters" : [
          {
            "name" : "comicId",
            "in" : "path",
            "description" : "The comic id.",
            "required" : true,
            "type" : "string"
          },
          {
            "name" : "name",
            "in" : "query",
            "description" : "Return only characters matching the specified full character name (e.g. Spider-Man).",
            "type" : "string"
          },
          {
            "name" : "nameStartsWith",
            "in" : "query",
            "description" : "Return characters with names that begin with the specified string (e.g. Sp).",
            "type" : "string"
          },
          {
            "name" : "modifiedSince",
            "in" : "query",
            "description" : "Return only characters which have been modified since the specified date.",
            "type" : "string"
          },
          {
            "name" : "series",
            "in" : "query",
            "description" : "Return only characters which appear the specified series (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "events",
            "in" : "query",
            "description" : "Return only characters which appear comics that took place in the specified events (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "stories",
            "in" : "query",
            "description" : "Return only characters which appear the specified stories (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "orderBy",
            "in" : "query",
            "description" : "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "type" : "string"
          },
          {
            "name" : "limit",
            "in" : "query",
            "description" : "Limit the result set to the specified number of resources.",
            "type" : "number"
          },
          {
            "name" : "offset",
            "in" : "query",
            "description" : "Skip the specified number of resources in the result set.",
            "type" : "number"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CharacterDataWrapper"
            }
          }
        }
      }
    },
    "/comics/{comicId}/creators" : {
      "get" : {
        "summary" : "Comic creators",
        "description" : "Fetches lists of creators filtered by a comic id.",
        "operationId" : "comic-creators",
        "parameters" : [
          {
            "name" : "comicId",
            "in" : "path",
            "description" : "The comic id.",
            "required" : true,
            "type" : "string"
          },
          {
            "name" : "firstName",
            "in" : "query",
            "description" : "Filter by creator first name (e.g. brian).",
            "type" : "string"
          },
          {
            "name" : "middleName",
            "in" : "query",
            "description" : "Filter by creator middle name (e.g. Michael).",
            "type" : "string"
          },
          {
            "name" : "lastName",
            "in" : "query",
            "description" : "Filter by creator last name (e.g. Bendis).",
            "type" : "string"
          },
          {
            "name" : "suffix",
            "in" : "query",
            "description" : "Filter by suffix or honorific (e.g. Jr., Sr.).",
            "type" : "string"
          },
          {
            "name" : "nameStartsWith",
            "in" : "query",
            "description" : "Filter by creator names that match critera (e.g. B, St L).",
            "type" : "string"
          },
          {
            "name" : "firstNameStartsWith",
            "in" : "query",
            "description" : "Filter by creator first names that match critera (e.g. B, St L).",
            "type" : "string"
          },
          {
            "name" : "middleNameStartsWith",
            "in" : "query",
            "description" : "Filter by creator middle names that match critera (e.g. Mi).",
            "type" : "string"
          },
          {
            "name" : "lastNameStartsWith",
            "in" : "query",
            "description" : "Filter by creator last names that match critera (e.g. Ben).",
            "type" : "string"
          },
          {
            "name" : "modifiedSince",
            "in" : "query",
            "description" : "Return only creators which have been modified since the specified date.",
            "type" : "string"
          },
          {
            "name" : "comics",
            "in" : "query",
            "description" : "Return only creators who worked on in the specified comics (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "series",
            "in" : "query",
            "description" : "Return only creators who worked on the specified series (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "stories",
            "in" : "query",
            "description" : "Return only creators who worked on the specified stories (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "orderBy",
            "in" : "query",
            "description" : "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "type" : "string"
          },
          {
            "name" : "limit",
            "in" : "query",
            "description" : "Limit the result set to the specified number of resources.",
            "type" : "number"
          },
          {
            "name" : "offset",
            "in" : "query",
            "description" : "Skip the specified number of resources in the result set.",
            "type" : "number"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CreatorDataWrapper"
            }
          }
        }
      }
    },
    "/comics/{comicId}/events" : {
      "get" : {
        "summary" : "Comic events",
        "description" : "Fetches lists of events filtered by a comic id.",
        "operationId" : "comic-events",
        "parameters" : [
          {
            "name" : "comicId",
            "in" : "path",
            "description" : "The comic ID.",
            "required" : true,
            "type" : "string"
          },
          {
            "name" : "name",
            "in" : "query",
            "description" : "Filter the event list by name.",
            "type" : "string"
          },
          {
            "name" : "nameStartsWith",
            "in" : "query",
            "description" : "Return events with names that begin with the specified string (e.g. Sp).",
            "type" : "string"
          },
          {
            "name" : "modifiedSince",
            "in" : "query",
            "description" : "Return only events which have been modified since the specified date.",
            "type" : "string"
          },
          {
            "name" : "creators",
            "in" : "query",
            "description" : "Return only events which feature work by the specified creators (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "characters",
            "in" : "query",
            "description" : "Return only events which feature the specified characters (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "series",
            "in" : "query",
            "description" : "Return only events which are part of the specified series (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "stories",
            "in" : "query",
            "description" : "Return only events which contain the specified stories (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "orderBy",
            "in" : "query",
            "description" : "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "type" : "string"
          },
          {
            "name" : "limit",
            "in" : "query",
            "description" : "Limit the result set to the specified number of resources.",
            "type" : "number"
          },
          {
            "name" : "offset",
            "in" : "query",
            "description" : "Skip the specified number of resources in the result set.",
            "type" : "number"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/EventDataWrapper"
            }
          }
        }
      }
    },
    "/comics/{comicId}/stories" : {
      "get" : {
        "summary" : "Comic stories",
        "description" : "Fetches lists of stories filtered by a comic id.",
        "operationId" : "comic-stories",
        "parameters" : [
          {
            "name" : "comicId",
            "in" : "path",
            "description" : "The comic ID.",
            "required" : true,
            "type" : "string"
          },
          {
            "name" : "modifiedSince",
            "in" : "query",
            "description" : "Return only stories which have been modified since the specified date.",
            "type" : "string"
          },
          {
            "name" : "series",
            "in" : "query",
            "description" : "Return only stories contained the specified series (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "events",
            "in" : "query",
            "description" : "Return only stories which take place during the specified events (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "creators",
            "in" : "query",
            "description" : "Return only stories which feature work by the specified creators (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "characters",
            "in" : "query",
            "description" : "Return only stories which feature the specified characters (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "orderBy",
            "in" : "query",
            "description" : "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "type" : "string"
          },
          {
            "name" : "limit",
            "in" : "query",
            "description" : "Limit the result set to the specified number of resources.",
            "type" : "number"
          },
          {
            "name" : "offset",
            "in" : "query",
            "description" : "Skip the specified number of resources.",
            "type" : "number"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/StoryDataWrapper"
            }
          }
        }
      }
    },
    "/creators" : {
      "get" : {
        "summary" : "List creators",
        "description" : "Fetches lists of creators.",
        "operationId" : "list-creators",
        "parameters" : [
          {
            "name" : "firstName",
            "in" : "query",
            "description" : "Filter by creator first name (e.g. Brian).",
            "type" : "string"
          },
          {
            "name" : "middleName",
            "in" : "query",
            "description" : "Filter by creator middle name (e.g. Michael).",
            "type" : "string"
          },
          {
            "name" : "lastName",
            "in" : "query",
            "description" : "Filter by creator last name (e.g. Bendis).",
            "type" : "string"
          },
          {
            "name" : "suffix",
            "in" : "query",
            "description" : "Filter by suffix or honorific (e.g. Jr., Sr.).",
            "type" : "string"
          },
          {
            "name" : "nameStartsWith",
            "in" : "query",
            "description" : "Filter by creator names that match critera (e.g. B, St L).",
            "type" : "string"
          },
          {
            "name" : "firstNameStartsWith",
            "in" : "query",
            "description" : "Filter by creator first names that match critera (e.g. B, St L).",
            "type" : "string"
          },
          {
            "name" : "middleNameStartsWith",
            "in" : "query",
            "description" : "Filter by creator middle names that match critera (e.g. Mi).",
            "type" : "string"
          },
          {
            "name" : "lastNameStartsWith",
            "in" : "query",
            "description" : "Filter by creator last names that match critera (e.g. Ben).",
            "type" : "string"
          },
          {
            "name" : "modifiedSince",
            "in" : "query",
            "description" : "Return only creators which have been modified since the specified date.",
            "type" : "string"
          },
          {
            "name" : "comics",
            "in" : "query",
            "description" : "Return only creators who worked on in the specified comics (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "series",
            "in" : "query",
            "description" : "Return only creators who worked on the specified series (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "events",
            "in" : "query",
            "description" : "Return only creators who worked on comics that took place in the specified events (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "stories",
            "in" : "query",
            "description" : "Return only creators who worked on the specified stories (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "orderBy",
            "in" : "query",
            "description" : "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "type" : "string"
          },
          {
            "name" : "limit",
            "in" : "query",
            "description" : "Limit the result set to the specified number of resources.",
            "type" : "number"
          },
          {
            "name" : "offset",
            "in" : "query",
            "description" : "Skip the specified number of resources in the result set.",
            "type" : "number"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CreatorDataWrapper"
            }
          }
        }
      }
    },
    "/creators/{creatorId}" : {
      "get" : {
        "summary" : "Creator by Id",
        "description" : "Fetches a single creator by id.",
        "operationId" : "creator-by-id",
        "parameters" : [
          {
            "name" : "creatorId",
            "in" : "path",
            "description" : "A single creator id.",
            "required" : true,
            "type" : "string"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CreatorDataWrapper"
            }
          }
        }
      }
    },
    "/creators/{creatorId}/comics" : {
      "get" : {
        "summary" : "Creator comics",
        "description" : "Fetches lists of comics filtered by a creator id.",
        "operationId" : "creator-comics",
        "parameters" : [
          {
            "name" : "creatorId",
            "in" : "path",
            "description" : "The creator ID.",
            "required" : true,
            "type" : "string"
          },
          {
            "name" : "format",
            "in" : "query",
            "description" : "Filter by the issue format (e.g. comic, digital comic, hardcover).",
            "type" : "string"
          },
          {
            "name" : "formatType",
            "in" : "query",
            "description" : "Filter by the issue format type (comic or collection).",
            "type" : "string"
          },
          {
            "name" : "noVariants",
            "in" : "query",
            "description" : "Exclude variant comics from the result set.",
            "type" : "boolean"
          },
          {
            "name" : "dateDescriptor",
            "in" : "query",
            "description" : "Return comics within a predefined date range.",
            "type" : "string"
          },
          {
            "name" : "dateRange",
            "in" : "query",
            "description" : "Return comics within a predefined date range.  Dates must be specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably formatted as YYYY-MM-DD but may be sent as any common date format.",
            "type" : "number"
          },
          {
            "name" : "diamondCode",
            "in" : "query",
            "description" : "Filter by diamond code.",
            "type" : "string"
          },
          {
            "name" : "digitalId",
            "in" : "query",
            "description" : "Filter by digital comic id.",
            "type" : "number"
          },
          {
            "name" : "upc",
            "in" : "query",
            "description" : "Filter by UPC.",
            "type" : "string"
          },
          {
            "name" : "isbn",
            "in" : "query",
            "description" : "Filter by ISBN.",
            "type" : "string"
          },
          {
            "name" : "ean",
            "in" : "query",
            "description" : "Filter by EAN.",
            "type" : "string"
          },
          {
            "name" : "issn",
            "in" : "query",
            "description" : "Filter by ISSN.",
            "type" : "string"
          },
          {
            "name" : "hasDigitalIssue",
            "in" : "query",
            "description" : "Include only results which are available digitally.",
            "type" : "boolean"
          },
          {
            "name" : "modifiedSince",
            "in" : "query",
            "description" : "Return only comics which have been modified since the specified date.",
            "type" : "string"
          },
          {
            "name" : "characters",
            "in" : "query",
            "description" : "Return only comics which feature the specified characters (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "series",
            "in" : "query",
            "description" : "Return only comics which are part of the specified series (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "events",
            "in" : "query",
            "description" : "Return only comics which take place in the specified events (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "stories",
            "in" : "query",
            "description" : "Return only comics which contain the specified stories (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "sharedAppearances",
            "in" : "query",
            "description" : "Return only comics in which the specified characters appear together (for example in which BOTH Spider-Man and Wolverine appear).",
            "type" : "number"
          },
          {
            "name" : "collaborators",
            "in" : "query",
            "description" : "Return only comics in which the specified creators worked together (for example in which BOTH Stan Lee and Jack Kirby did work).",
            "type" : "number"
          },
          {
            "name" : "orderBy",
            "in" : "query",
            "description" : "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "type" : "string"
          },
          {
            "name" : "limit",
            "in" : "query",
            "description" : "Limit the result set to the specified number of resources.",
            "type" : "number"
          },
          {
            "name" : "offset",
            "in" : "query",
            "description" : "Skip the specified number of resources in the result set.",
            "type" : "number"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ComicDataWrapper"
            }
          }
        }
      }
    },
    "/creators/{creatorId}/events" : {
      "get" : {
        "summary" : "Creator events",
        "description" : "Fetches lists of events filtered by a creator id.",
        "operationId" : "creator-events",
        "parameters" : [
          {
            "name" : "creatorId",
            "in" : "path",
            "description" : "The creator ID.",
            "required" : true,
            "type" : "string"
          },
          {
            "name" : "name",
            "in" : "query",
            "description" : "Filter the event list by name.",
            "type" : "string"
          },
          {
            "name" : "nameStartsWith",
            "in" : "query",
            "description" : "Return events with names that begin with the specified string (e.g. Sp).",
            "type" : "string"
          },
          {
            "name" : "modifiedSince",
            "in" : "query",
            "description" : "Return only events which have been modified since the specified date.",
            "type" : "string"
          },
          {
            "name" : "characters",
            "in" : "query",
            "description" : "Return only events which feature the specified characters (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "series",
            "in" : "query",
            "description" : "Return only events which are part of the specified series (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "comics",
            "in" : "query",
            "description" : "Return only events which take place in the specified comics (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "stories",
            "in" : "query",
            "description" : "Return only events which contain the specified stories (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "orderBy",
            "in" : "query",
            "description" : "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "type" : "string"
          },
          {
            "name" : "limit",
            "in" : "query",
            "description" : "Limit the result set to the specified number of resources.",
            "type" : "number"
          },
          {
            "name" : "offset",
            "in" : "query",
            "description" : "Skip the specified number of resources in the result set.",
            "type" : "number"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/EventDataWrapper"
            }
          }
        }
      }
    },
    "/creators/{creatorId}/series" : {
      "get" : {
        "summary" : "Creator series",
        "description" : "Fetches lists of series filtered by a creator id.",
        "operationId" : "creator-series",
        "parameters" : [
          {
            "name" : "creatorId",
            "in" : "path",
            "description" : "The creator ID.",
            "required" : true,
            "type" : "string"
          },
          {
            "name" : "title",
            "in" : "query",
            "description" : "Filter by series title.",
            "type" : "string"
          },
          {
            "name" : "titleStartsWith",
            "in" : "query",
            "description" : "Return series with titles that begin with the specified string (e.g. Sp).",
            "type" : "string"
          },
          {
            "name" : "startYear",
            "in" : "query",
            "description" : "Return only series matching the specified start year.",
            "type" : "number"
          },
          {
            "name" : "modifiedSince",
            "in" : "query",
            "description" : "Return only series which have been modified since the specified date.",
            "type" : "string"
          },
          {
            "name" : "comics",
            "in" : "query",
            "description" : "Return only series which contain the specified comics (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "stories",
            "in" : "query",
            "description" : "Return only series which contain the specified stories (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "events",
            "in" : "query",
            "description" : "Return only series which have comics that take place during the specified events (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "characters",
            "in" : "query",
            "description" : "Return only series which feature the specified characters (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "seriesType",
            "in" : "query",
            "description" : "Filter the series by publication frequency type.",
            "type" : "string"
          },
          {
            "name" : "contains",
            "in" : "query",
            "description" : "Return only series containing one or more comics with the specified format.",
            "type" : "string"
          },
          {
            "name" : "orderBy",
            "in" : "query",
            "description" : "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "type" : "string"
          },
          {
            "name" : "limit",
            "in" : "query",
            "description" : "Limit the result set to the specified number of resources.",
            "type" : "number"
          },
          {
            "name" : "offset",
            "in" : "query",
            "description" : "Skip the specified number of resources in the result set.",
            "type" : "number"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/SeriesDataWrapper"
            }
          }
        }
      }
    },
    "/creators/{creatorId}/stories" : {
      "get" : {
        "summary" : "Creator stories",
        "description" : "Fetches lists of stories filtered by a creator id.",
        "operationId" : "creator-stories",
        "parameters" : [
          {
            "name" : "creatorId",
            "in" : "path",
            "description" : "The ID of the creator.",
            "required" : true,
            "type" : "string"
          },
          {
            "name" : "modifiedSince",
            "in" : "query",
            "description" : "Return only stories which have been modified since the specified date.",
            "type" : "string"
          },
          {
            "name" : "comics",
            "in" : "query",
            "description" : "Return only stories contained in the specified comics (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "series",
            "in" : "query",
            "description" : "Return only stories contained the specified series (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "events",
            "in" : "query",
            "description" : "Return only stories which take place during the specified events (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "characters",
            "in" : "query",
            "description" : "Return only stories which feature the specified characters (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "orderBy",
            "in" : "query",
            "description" : "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "type" : "string"
          },
          {
            "name" : "limit",
            "in" : "query",
            "description" : "Limit the result set to the specified number of resources.",
            "type" : "number"
          },
          {
            "name" : "offset",
            "in" : "query",
            "description" : "Skip the specified number of resources in the result set.",
            "type" : "number"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/StoryDataWrapper"
            }
          }
        }
      }
    },
    "/events" : {
      "get" : {
        "summary" : "List events",
        "description" : "Fetches lists of events.",
        "operationId" : "list-events",
        "parameters" : [
          {
            "name" : "name",
            "in" : "query",
            "description" : "Return only events which match the specified name.",
            "type" : "string"
          },
          {
            "name" : "nameStartsWith",
            "in" : "query",
            "description" : "Return events with names that begin with the specified string (e.g. Sp).",
            "type" : "string"
          },
          {
            "name" : "modifiedSince",
            "in" : "query",
            "description" : "Return only events which have been modified since the specified date.",
            "type" : "string"
          },
          {
            "name" : "creators",
            "in" : "query",
            "description" : "Return only events which feature work by the specified creators (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "characters",
            "in" : "query",
            "description" : "Return only events which feature the specified characters (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "series",
            "in" : "query",
            "description" : "Return only events which are part of the specified series (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "comics",
            "in" : "query",
            "description" : "Return only events which take place in the specified comics (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "stories",
            "in" : "query",
            "description" : "Return only events which take place in the specified stories (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "orderBy",
            "in" : "query",
            "description" : "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "type" : "string"
          },
          {
            "name" : "limit",
            "in" : "query",
            "description" : "Limit the result set to the specified number of resources.",
            "type" : "number"
          },
          {
            "name" : "offset",
            "in" : "query",
            "description" : "Skip the specified number of resources in the result set.",
            "type" : "number"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/EventDataWrapper"
            }
          }
        }
      }
    },
    "/events/{eventId}" : {
      "get" : {
        "summary" : "Event by Id",
        "description" : "Fetches a single event by id.",
        "operationId" : "event-by-id",
        "parameters" : [
          {
            "name" : "eventId",
            "in" : "path",
            "description" : "A single event.",
            "required" : true,
            "type" : "string"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/EventDataWrapper"
            }
          }
        }
      }
    },
    "/events/{eventId}/characters" : {
      "get" : {
        "summary" : "Event characters",
        "description" : "Fetches lists of characters filtered by an event id.",
        "operationId" : "event-characters",
        "parameters" : [
          {
            "name" : "eventId",
            "in" : "path",
            "description" : "The event ID",
            "required" : true,
            "type" : "string"
          },
          {
            "name" : "name",
            "in" : "query",
            "description" : "Return only characters matching the specified full character name (e.g. Spider-Man).",
            "type" : "string"
          },
          {
            "name" : "nameStartsWith",
            "in" : "query",
            "description" : "Return characters with names that begin with the specified string (e.g. Sp).",
            "type" : "string"
          },
          {
            "name" : "modifiedSince",
            "in" : "query",
            "description" : "Return only characters which have been modified since the specified date.",
            "type" : "string"
          },
          {
            "name" : "comics",
            "in" : "query",
            "description" : "Return only characters which appear in the specified comics (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "series",
            "in" : "query",
            "description" : "Return only characters which appear the specified series (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "stories",
            "in" : "query",
            "description" : "Return only characters which appear the specified stories (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "orderBy",
            "in" : "query",
            "description" : "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "type" : "string"
          },
          {
            "name" : "limit",
            "in" : "query",
            "description" : "Limit the result set to the specified number of resources.",
            "type" : "number"
          },
          {
            "name" : "offset",
            "in" : "query",
            "description" : "Skip the specified number of resources in the result set.",
            "type" : "number"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CharacterDataWrapper"
            }
          }
        }
      }
    },
    "/events/{eventId}/comics" : {
      "get" : {
        "summary" : "Event comics",
        "description" : "Fetches lists of comics filtered by an event id.",
        "operationId" : "event-comics",
        "parameters" : [
          {
            "name" : "eventId",
            "in" : "path",
            "description" : "The event id.",
            "required" : true,
            "type" : "string"
          },
          {
            "name" : "format",
            "in" : "query",
            "description" : "Filter by the issue format (e.g. comic, digital comic, hardcover).",
            "type" : "string"
          },
          {
            "name" : "formatType",
            "in" : "query",
            "description" : "Filter by the issue format type (comic or collection).",
            "type" : "string"
          },
          {
            "name" : "noVariants",
            "in" : "query",
            "description" : "Exclude variant comics from the result set.",
            "type" : "boolean"
          },
          {
            "name" : "dateDescriptor",
            "in" : "query",
            "description" : "Return comics within a predefined date range.",
            "type" : "string"
          },
          {
            "name" : "dateRange",
            "in" : "query",
            "description" : "Return comics within a predefined date range.  Dates must be specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably formatted as YYYY-MM-DD but may be sent as any common date format.",
            "type" : "number"
          },
          {
            "name" : "diamondCode",
            "in" : "query",
            "description" : "Filter by diamond code.",
            "type" : "string"
          },
          {
            "name" : "digitalId",
            "in" : "query",
            "description" : "Filter by digital comic id.",
            "type" : "number"
          },
          {
            "name" : "upc",
            "in" : "query",
            "description" : "Filter by UPC.",
            "type" : "string"
          },
          {
            "name" : "isbn",
            "in" : "query",
            "description" : "Filter by ISBN.",
            "type" : "string"
          },
          {
            "name" : "ean",
            "in" : "query",
            "description" : "Filter by EAN.",
            "type" : "string"
          },
          {
            "name" : "issn",
            "in" : "query",
            "description" : "Filter by ISSN.",
            "type" : "string"
          },
          {
            "name" : "hasDigitalIssue",
            "in" : "query",
            "description" : "Include only results which are available digitally.",
            "type" : "boolean"
          },
          {
            "name" : "modifiedSince",
            "in" : "query",
            "description" : "Return only comics which have been modified since the specified date.",
            "type" : "string"
          },
          {
            "name" : "creators",
            "in" : "query",
            "description" : "Return only comics which feature work by the specified creators (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "characters",
            "in" : "query",
            "description" : "Return only comics which feature the specified characters (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "series",
            "in" : "query",
            "description" : "Return only comics which are part of the specified series (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "events",
            "in" : "query",
            "description" : "Return only comics which take place in the specified events (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "stories",
            "in" : "query",
            "description" : "Return only comics which contain the specified stories (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "sharedAppearances",
            "in" : "query",
            "description" : "Return only comics in which the specified characters appear together (for example in which BOTH Spider-Man and Wolverine appear).",
            "type" : "number"
          },
          {
            "name" : "collaborators",
            "in" : "query",
            "description" : "Return only comics in which the specified creators worked together (for example in which BOTH Stan Lee and Jack Kirby did work).",
            "type" : "number"
          },
          {
            "name" : "orderBy",
            "in" : "query",
            "description" : "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "type" : "string"
          },
          {
            "name" : "limit",
            "in" : "query",
            "description" : "Limit the result set to the specified number of resources.",
            "type" : "number"
          },
          {
            "name" : "offset",
            "in" : "query",
            "description" : "Skip the specified number of resources in the result set.",
            "type" : "number"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ComicDataWrapper"
            }
          }
        }
      }
    },
    "/events/{eventId}/creators" : {
      "get" : {
        "summary" : "Event creators",
        "description" : "Fetches lists of creators filtered by an event id.",
        "operationId" : "event-creators",
        "parameters" : [
          {
            "name" : "eventId",
            "in" : "path",
            "description" : "The event ID.",
            "required" : true,
            "type" : "string"
          },
          {
            "name" : "firstName",
            "in" : "query",
            "description" : "Filter by creator first name (e.g. brian).",
            "type" : "string"
          },
          {
            "name" : "middleName",
            "in" : "query",
            "description" : "Filter by creator middle name (e.g. Michael).",
            "type" : "string"
          },
          {
            "name" : "lastName",
            "in" : "query",
            "description" : "Filter by creator last name (e.g. Bendis).",
            "type" : "string"
          },
          {
            "name" : "suffix",
            "in" : "query",
            "description" : "Filter by suffix or honorific (e.g. Jr., Sr.).",
            "type" : "string"
          },
          {
            "name" : "nameStartsWith",
            "in" : "query",
            "description" : "Filter by creator names that match critera (e.g. B, St L).",
            "type" : "string"
          },
          {
            "name" : "firstNameStartsWith",
            "in" : "query",
            "description" : "Filter by creator first names that match critera (e.g. B, St L).",
            "type" : "string"
          },
          {
            "name" : "middleNameStartsWith",
            "in" : "query",
            "description" : "Filter by creator middle names that match critera (e.g. Mi).",
            "type" : "string"
          },
          {
            "name" : "lastNameStartsWith",
            "in" : "query",
            "description" : "Filter by creator last names that match critera (e.g. Ben).",
            "type" : "string"
          },
          {
            "name" : "modifiedSince",
            "in" : "query",
            "description" : "Return only creators which have been modified since the specified date.",
            "type" : "string"
          },
          {
            "name" : "comics",
            "in" : "query",
            "description" : "Return only creators who worked on in the specified comics (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "series",
            "in" : "query",
            "description" : "Return only creators who worked on the specified series (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "stories",
            "in" : "query",
            "description" : "Return only creators who worked on the specified stories (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "orderBy",
            "in" : "query",
            "description" : "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "type" : "string"
          },
          {
            "name" : "limit",
            "in" : "query",
            "description" : "Limit the result set to the specified number of resources.",
            "type" : "number"
          },
          {
            "name" : "offset",
            "in" : "query",
            "description" : "Skip the specified number of resources in the result set.",
            "type" : "number"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CreatorDataWrapper"
            }
          }
        }
      }
    },
    "/events/{eventId}/series" : {
      "get" : {
        "summary" : "Event series",
        "description" : "Fetches lists of series filtered by an event id.",
        "operationId" : "event-series",
        "parameters" : [
          {
            "name" : "eventId",
            "in" : "path",
            "description" : "The event ID.",
            "required" : true,
            "type" : "string"
          },
          {
            "name" : "title",
            "in" : "query",
            "description" : "Filter by series title.",
            "type" : "string"
          },
          {
            "name" : "titleStartsWith",
            "in" : "query",
            "description" : "Return series with titles that begin with the specified string (e.g. Sp).",
            "type" : "string"
          },
          {
            "name" : "startYear",
            "in" : "query",
            "description" : "Return only series matching the specified start year.",
            "type" : "number"
          },
          {
            "name" : "modifiedSince",
            "in" : "query",
            "description" : "Return only series which have been modified since the specified date.",
            "type" : "string"
          },
          {
            "name" : "comics",
            "in" : "query",
            "description" : "Return only series which contain the specified comics (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "stories",
            "in" : "query",
            "description" : "Return only series which contain the specified stories (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "creators",
            "in" : "query",
            "description" : "Return only series which feature work by the specified creators (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "characters",
            "in" : "query",
            "description" : "Return only series which feature the specified characters (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "seriesType",
            "in" : "query",
            "description" : "Filter the series by publication frequency type.",
            "type" : "string"
          },
          {
            "name" : "contains",
            "in" : "query",
            "description" : "Return only series containing one or more comics with the specified format.",
            "type" : "string"
          },
          {
            "name" : "orderBy",
            "in" : "query",
            "description" : "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "type" : "string"
          },
          {
            "name" : "limit",
            "in" : "query",
            "description" : "Limit the result set to the specified number of resources.",
            "type" : "number"
          },
          {
            "name" : "offset",
            "in" : "query",
            "description" : "Skip the specified number of resources in the result set.",
            "type" : "number"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/SeriesDataWrapper"
            }
          }
        }
      }
    },
    "/events/{eventId}/stories" : {
      "get" : {
        "summary" : "Event stories",
        "description" : "Fetches lists of stories filtered by an event id.",
        "operationId" : "event-stories",
        "parameters" : [
          {
            "name" : "eventId",
            "in" : "path",
            "description" : "The ID of the event.",
            "required" : true,
            "type" : "string"
          },
          {
            "name" : "modifiedSince",
            "in" : "query",
            "description" : "Return only stories which have been modified since the specified date.",
            "type" : "string"
          },
          {
            "name" : "comics",
            "in" : "query",
            "description" : "Return only stories contained in the specified (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "series",
            "in" : "query",
            "description" : "Return only stories contained the specified series (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "creators",
            "in" : "query",
            "description" : "Return only stories which feature work by the specified creators (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "characters",
            "in" : "query",
            "description" : "Return only stories which feature the specified characters (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "orderBy",
            "in" : "query",
            "description" : "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "type" : "string"
          },
          {
            "name" : "limit",
            "in" : "query",
            "description" : "Limit the result set to the specified number of resources.",
            "type" : "number"
          },
          {
            "name" : "offset",
            "in" : "query",
            "description" : "Skip the specified number of resources in the result set.",
            "type" : "number"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/StoryDataWrapper"
            }
          }
        }
      }
    },
    "/series" : {
      "get" : {
        "summary" : "List series",
        "description" : "Fetches lists of series.",
        "operationId" : "list-series",
        "parameters" : [
          {
            "name" : "title",
            "in" : "query",
            "description" : "Return only series matching the specified title.",
            "type" : "string"
          },
          {
            "name" : "titleStartsWith",
            "in" : "query",
            "description" : "Return series with titles that begin with the specified string (e.g. Sp).",
            "type" : "string"
          },
          {
            "name" : "startYear",
            "in" : "query",
            "description" : "Return only series matching the specified start year.",
            "type" : "number"
          },
          {
            "name" : "modifiedSince",
            "in" : "query",
            "description" : "Return only series which have been modified since the specified date.",
            "type" : "string"
          },
          {
            "name" : "comics",
            "in" : "query",
            "description" : "Return only series which contain the specified comics (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "stories",
            "in" : "query",
            "description" : "Return only series which contain the specified stories (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "events",
            "in" : "query",
            "description" : "Return only series which have comics that take place during the specified events (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "creators",
            "in" : "query",
            "description" : "Return only series which feature work by the specified creators (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "characters",
            "in" : "query",
            "description" : "Return only series which feature the specified characters (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "seriesType",
            "in" : "query",
            "description" : "Filter the series by publication frequency type.",
            "type" : "string"
          },
          {
            "name" : "contains",
            "in" : "query",
            "description" : "Return only series containing one or more comics with the specified format.",
            "type" : "string"
          },
          {
            "name" : "orderBy",
            "in" : "query",
            "description" : "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "type" : "string"
          },
          {
            "name" : "limit",
            "in" : "query",
            "description" : "Limit the result set to the specified number of resources.",
            "type" : "number"
          },
          {
            "name" : "offset",
            "in" : "query",
            "description" : "Skip the specified number of resources in the result set.",
            "type" : "number"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/SeriesDataWrapper"
            }
          }
        }
      }
    },
    "/series/{seriesId}" : {
      "get" : {
        "summary" : "Series by id",
        "description" : "Fetches a single comic series by id.",
        "operationId" : "series-by-id",
        "parameters" : [
          {
            "name" : "seriesId",
            "in" : "path",
            "description" : "Filter by series title.",
            "required" : true,
            "type" : "string"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/SeriesDataWrapper"
            }
          }
        }
      }
    },
    "/series/{seriesId}/characters" : {
      "get" : {
        "summary" : "Series characters",
        "description" : "Fetches lists of characters filtered by a series id.",
        "operationId" : "series-characters",
        "parameters" : [
          {
            "name" : "seriesId",
            "in" : "path",
            "description" : "The series id.",
            "required" : true,
            "type" : "string"
          },
          {
            "name" : "name",
            "in" : "query",
            "description" : "Return only characters matching the specified full character name (e.g. Spider-Man).",
            "type" : "string"
          },
          {
            "name" : "nameStartsWith",
            "in" : "query",
            "description" : "Return characters with names that begin with the specified string (e.g. Sp).",
            "type" : "string"
          },
          {
            "name" : "modifiedSince",
            "in" : "query",
            "description" : "Return only characters which have been modified since the specified date.",
            "type" : "string"
          },
          {
            "name" : "comics",
            "in" : "query",
            "description" : "Return only characters which appear in the specified comics (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "events",
            "in" : "query",
            "description" : "Return only characters which appear comics that took place in the specified events (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "stories",
            "in" : "query",
            "description" : "Return only characters which appear the specified stories (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "orderBy",
            "in" : "query",
            "description" : "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "type" : "string"
          },
          {
            "name" : "limit",
            "in" : "query",
            "description" : "Limit the result set to the specified number of resources.",
            "type" : "number"
          },
          {
            "name" : "offset",
            "in" : "query",
            "description" : "Skip the specified number of resources in the result set.",
            "type" : "number"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CharacterDataWrapper"
            }
          }
        }
      }
    },
    "/series/{seriesId}/comics" : {
      "get" : {
        "summary" : "Series comics",
        "description" : "Fetches lists of comics filtered by a series id.",
        "operationId" : "series-comics",
        "parameters" : [
          {
            "name" : "seriesId",
            "in" : "path",
            "description" : "The series ID.",
            "required" : true,
            "type" : "string"
          },
          {
            "name" : "format",
            "in" : "query",
            "description" : "Filter by the issue format (e.g. comic, digital comic, hardcover).",
            "type" : "string"
          },
          {
            "name" : "formatType",
            "in" : "query",
            "description" : "Filter by the issue format type (comic or collection).",
            "type" : "string"
          },
          {
            "name" : "noVariants",
            "in" : "query",
            "description" : "Exclude variant comics from the result set.",
            "type" : "boolean"
          },
          {
            "name" : "dateDescriptor",
            "in" : "query",
            "description" : "Return comics within a predefined date range.",
            "type" : "string"
          },
          {
            "name" : "dateRange",
            "in" : "query",
            "description" : "Return comics within a predefined date range.  Dates must be specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably formatted as YYYY-MM-DD but may be sent as any common date format.",
            "type" : "number"
          },
          {
            "name" : "diamondCode",
            "in" : "query",
            "description" : "Filter by diamond code.",
            "type" : "string"
          },
          {
            "name" : "digitalId",
            "in" : "query",
            "description" : "Filter by digital comic id.",
            "type" : "number"
          },
          {
            "name" : "upc",
            "in" : "query",
            "description" : "Filter by UPC.",
            "type" : "string"
          },
          {
            "name" : "isbn",
            "in" : "query",
            "description" : "Filter by ISBN.",
            "type" : "string"
          },
          {
            "name" : "ean",
            "in" : "query",
            "description" : "Filter by EAN.",
            "type" : "string"
          },
          {
            "name" : "issn",
            "in" : "query",
            "description" : "Filter by ISSN.",
            "type" : "string"
          },
          {
            "name" : "hasDigitalIssue",
            "in" : "query",
            "description" : "Include only results which are available digitally.",
            "type" : "boolean"
          },
          {
            "name" : "modifiedSince",
            "in" : "query",
            "description" : "Return only comics which have been modified since the specified date.",
            "type" : "string"
          },
          {
            "name" : "creators",
            "in" : "query",
            "description" : "Return only comics which feature work by the specified creators (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "characters",
            "in" : "query",
            "description" : "Return only comics which feature the specified characters (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "events",
            "in" : "query",
            "description" : "Return only comics which take place in the specified events (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "stories",
            "in" : "query",
            "description" : "Return only comics which contain the specified stories (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "sharedAppearances",
            "in" : "query",
            "description" : "Return only comics in which the specified characters appear together (for example in which BOTH Spider-Man and Wolverine appear).",
            "type" : "number"
          },
          {
            "name" : "collaborators",
            "in" : "query",
            "description" : "Return only comics in which the specified creators worked together (for example in which BOTH Stan Lee and Jack Kirby did work).",
            "type" : "number"
          },
          {
            "name" : "orderBy",
            "in" : "query",
            "description" : "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "type" : "string"
          },
          {
            "name" : "limit",
            "in" : "query",
            "description" : "Limit the result set to the specified number of resources.",
            "type" : "number"
          },
          {
            "name" : "offset",
            "in" : "query",
            "description" : "Skip the specified number of resources in the result set.",
            "type" : "number"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/ComicDataWrapper"
            }
          }
        }
      }
    },
    "/series/{seriesId}/creators" : {
      "get" : {
        "summary" : "Series creators",
        "description" : "Fetches lists of creators filtered by a series id.",
        "operationId" : "series-creators",
        "parameters" : [
          {
            "name" : "seriesId",
            "in" : "path",
            "description" : "The series ID.",
            "required" : true,
            "type" : "string"
          },
          {
            "name" : "firstName",
            "in" : "query",
            "description" : "Filter by creator first name (e.g. brian).",
            "type" : "string"
          },
          {
            "name" : "middleName",
            "in" : "query",
            "description" : "Filter by creator middle name (e.g. Michael).",
            "type" : "string"
          },
          {
            "name" : "lastName",
            "in" : "query",
            "description" : "Filter by creator last name (e.g. Bendis).",
            "type" : "string"
          },
          {
            "name" : "suffix",
            "in" : "query",
            "description" : "Filter by suffix or honorific (e.g. Jr., Sr.).",
            "type" : "string"
          },
          {
            "name" : "nameStartsWith",
            "in" : "query",
            "description" : "Filter by creator names that match critera (e.g. B, St L).",
            "type" : "string"
          },
          {
            "name" : "firstNameStartsWith",
            "in" : "query",
            "description" : "Filter by creator first names that match critera (e.g. B, St L).",
            "type" : "string"
          },
          {
            "name" : "middleNameStartsWith",
            "in" : "query",
            "description" : "Filter by creator middle names that match critera (e.g. Mi).",
            "type" : "string"
          },
          {
            "name" : "lastNameStartsWith",
            "in" : "query",
            "description" : "Filter by creator last names that match critera (e.g. Ben).",
            "type" : "string"
          },
          {
            "name" : "modifiedSince",
            "in" : "query",
            "description" : "Return only creators which have been modified since the specified date.",
            "type" : "string"
          },
          {
            "name" : "comics",
            "in" : "query",
            "description" : "Return only creators who worked on in the specified comics (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "events",
            "in" : "query",
            "description" : "Return only creators who worked on comics that took place in the specified events (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "stories",
            "in" : "query",
            "description" : "Return only creators who worked on the specified stories (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "orderBy",
            "in" : "query",
            "description" : "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "type" : "string"
          },
          {
            "name" : "limit",
            "in" : "query",
            "description" : "Limit the result set to the specified number of resources.",
            "type" : "number"
          },
          {
            "name" : "offset",
            "in" : "query",
            "description" : "Skip the specified number of resources in the result set.",
            "type" : "number"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/CreatorDataWrapper"
            }
          }
        }
      }
    },
    "/series/{seriesId}/events" : {
      "get" : {
        "summary" : "Series events",
        "description" : "Fetches lists of events filtered by a series id.",
        "operationId" : "series-events",
        "parameters" : [
          {
            "name" : "seriesId",
            "in" : "path",
            "description" : "The series ID.",
            "required" : true,
            "type" : "string"
          },
          {
            "name" : "name",
            "in" : "query",
            "description" : "Filter the event list by name.",
            "type" : "string"
          },
          {
            "name" : "nameStartsWith",
            "in" : "query",
            "description" : "Return events with names that begin with the specified string (e.g. Sp).",
            "type" : "string"
          },
          {
            "name" : "modifiedSince",
            "in" : "query",
            "description" : "Return only events which have been modified since the specified date.",
            "type" : "string"
          },
          {
            "name" : "creators",
            "in" : "query",
            "description" : "Return only events which feature work by the specified creators (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "characters",
            "in" : "query",
            "description" : "Return only events which feature the specified characters (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "comics",
            "in" : "query",
            "description" : "Return only events which take place in the specified comics (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "stories",
            "in" : "query",
            "description" : "Return only events which contain the specified stories (accepts a comma-separated list of ids).",
            "type" : "number"
          },
          {
            "name" : "orderBy",
            "in" : "query",
            "description" : "Order the result set by a field or fields. Add a \"-\" to the value sort in descending order. Multiple values are given priority in the order in which they are passed.",
            "type" : "string"
          },
          {
            "name" : "limit",
            "in" : "query",
[...]
